@font-face {
    font-family: "kobobox-bold";
    src: url(../fonts/NunitoSans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: "kobobox-regular";
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "kobobox-semibold";
    src: url(../fonts/NunitoSans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: "poppins-medium";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "poppins-semibold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}